.myNav{
    float:left;
    background-color:#4aaaa5;
    opacity:.5;
    color:white;
    height: 610px;
    padding:0;
    margin-bottom:0;
    width:150px;
   
}

.navh1{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    /* border: 1px solid white; */
    line-height: 1.5;
    width: 90%;
    margin:auto;
    justify-content: center;
    padding-top: 20px;

}

Nav a {
    color:white;
    text-decoration: none;
}

/* .navbar-brand{
    height:100%;
} */

