.myNav{
    float:left;
    background-color:#7a8181;
    opacity:.5;
    color:white;
    height: 700px;
    padding:0;
    margin-bottom:0;
    width:175px;
   
}

.navh1{
    color:white;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 4.0rem;
    /* text-align: center; */
    /* border: 1px solid white; */
    line-height: 1.5;
    width: 90%;
    margin:auto;
    padding-top: 15px;
    padding-right:150px;
   


}

Nav a {
    color:white;
    text-decoration: none;
}

/* .navbar-brand{
    height:100%;
} */

